<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="12" [rowspan]="4">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Sales Overview</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="cards-container">
          <mat-card class="card-item cd1">
            <mat-card-title>Total Sales</mat-card-title>
          </mat-card>
          <mat-card class="card-item cd2">
            <mat-card-title>Top-Selling Products</mat-card-title>
          </mat-card>
        </div>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="12" [rowspan]="4">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Inventory Status</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="cards-container">
          <mat-card class="card-item">
            <mat-card-title>Current Stock Levels of Raw Materials</mat-card-title>
          </mat-card>
          <mat-card class="card-item">
            <mat-card-title>Current Stock Levels of Products</mat-card-title>
          </mat-card>
        </div>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="12" [rowspan]="4">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Financial Summery</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="cards-container">
          <mat-card class="card-item">
            <mat-card-title>Revenue vs. Costs</mat-card-title>
          </mat-card>
          <mat-card class="card-item">
            <mat-card-title>Profit Margins</mat-card-title>
          </mat-card>
          <mat-card class="card-item">
            <mat-card-title>Outstanding Payments</mat-card-title>
          </mat-card>
        </div>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
