<mat-grid-list gutterSize="200px" [cols]="4" rowHeight="4rem" style="background: cornflowerblue">

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-grid-tile-header>Effectiveness</mat-grid-tile-header>
    <mat-divider></mat-divider>
    <div>
      <table border="1">
        <tr>
          <th> </th>
          <th>Current Month</th>
          <th>Previous Month</th>
          <th> </th>
        </tr>
      </table>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-grid-tile-header>Quality/Performance</mat-grid-tile-header>
    <mat-divider></mat-divider>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-grid-tile-header>Production</mat-grid-tile-header>
    <mat-divider></mat-divider>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-grid-tile-header>Cost/Revenue</mat-grid-tile-header>
    <mat-divider></mat-divider>

  </mat-grid-tile>

</mat-grid-list>
