mat-card {
  width: 30%;
  border: #003300;
  box-shadow: black 2px 2px 15px;
}


mat-card-header {
  /*background: #003300;*/
  background: none;
}

#bgimage{
  background-position: center;
  background-repeat: no-repeat;

}

#logo{
  text-align: left;
  width: 25%; height: 25%;
}

mat-card-title img {
  width: 26.5rem;
  height: 100%;
  text-align: left;
}

mat-card-title p {
  color: black;
  text-align: center;
}

mat-card-content {
  padding: 10%;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 10px;
}

button {
  color: white !important;
}

button[btn-a] {
  background: palevioletred !important;

}

button[btn-b] {
  background: purple !important;
}

#usename , #passwd{
  background-color: white;
}

