mat-grid-list {
  /*padding: 10% 20% 10% 20% !important;*/
  margin: 0;
  grid-gap: 15px;
}

mat-grid-tile mat-card{
  padding-top: 15px;
  align-items: center;
}

#card1{
  background-color: khaki;
}
#card2{
  background-color: palevioletred;
}
#card3{
  background-color: darkkhaki;
}
#card4{
  background-color: rosybrown;
}
#card5{
  background-color: burlywood;
}
#card6{
  background-color: coral;
}
#card7{
  background-color: darkgoldenrod;
}

mat-card {
  height: 100% !important;
  width: 100%;
  margin: 25px;
  overflow: auto;
  border-radius: 12px;
  justify-content: center;
}

mat-card img{
  scale: 210%;
  width: 50%;
  height: 80%;
  padding-left: 18px;
  padding-top: 10px;
}

mat-card{
  height: unset!important;
  padding-top: 0;
  width: 150px;
  margin: 50px 20px 35px 20px;
  border: none;
  background-color: transparent;
}

mat-card-footer{
  font-size: 18px;
  margin-top: 55px;
  text-align: center;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-card-footer a{
  font-family: "Times New Roman";
  text-decoration: none;
  color: darkblue;
  font-weight: bolder;
  font-size: 20px;
}

mat-grid-list #footer{
  display: flex;
  justify-content: center;
  font-family: "Times New Roman";
  background-color: transparent;
  font-size: 1px;
}

#footer img{
  scale: 10%;
  justify-content: center;
}
