<mat-grid-list gutterSize="100px" [cols]="4" rowHeight="60px">

    <mat-grid-tile [colspan]="4" [rowspan]="2">

        <mat-card id="card1">
          <mat-card-content><img src="assets/1230661.png"></mat-card-content>
          <mat-card-footer><a routerLink="dashboard">Dashboard</a></mat-card-footer>
        </mat-card>

        <mat-card id="card2">
          <mat-card-content><img  src="assets/Rstock.png"></mat-card-content>
          <mat-card-footer ><a routerLink="dailyproduction">Daily Production</a></mat-card-footer>
        </mat-card>

        <mat-card id="card3">
          <mat-card-content><img  src="assets/purchase-icon-png-19.jpg"></mat-card-content>
          <mat-card-footer ><a routerLink="supplier" >Purchase</a></mat-card-footer>
        </mat-card>

        <mat-card id="card4">
          <mat-card-content><img  src="assets/stock-market-icon-png-25.jpg"></mat-card-content>
          <mat-card-footer ><a routerLink="customer">Sales</a></mat-card-footer>
        </mat-card>

        <mat-card id="card5">
          <mat-card-content><img  src="assets/R.png"></mat-card-content>
          <mat-card-footer ><a routerLink="material">Inventory</a></mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="2">

      <mat-card id="card6">
        <mat-card-content><img  src="assets/report-icon-33.png"></mat-card-content>
        <mat-card-footer ><a routerLink="countbydesignation">Reports</a></mat-card-footer>
      </mat-card>

      <mat-card id="card7">
        <mat-card-content><img  src="assets/R (1).png"></mat-card-content>
        <mat-card-footer ><a routerLink="privilege">Settings</a></mat-card-footer>
      </mat-card>

    </mat-grid-tile>

</mat-grid-list>

<mat-grid-list gutterSize="100px" [cols]="4" rowHeight="82px">
  <mat-grid-tile id="footer" [colspan]="4">
    <mat-grid-tile-footer>
      <img src="/assets/bearlogo%20(2).png" class="img-logo">
      World's First Demo Soft Toy Factory<br> "The Bear Gallery" is a Sri Lankan Soft Toy Brand that owns by Saru Exports Pvt Ltd
      since 1993.
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>





