/* Tool Bar */

#home{
  position: absolute;
  align-items: center;
  left: 70px;
  top: 3px;
  width: 100px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 10px;
}

mat-toolbar{
  background: linear-gradient(40deg, darkblue, cadetblue) ;
  margin-left: 0;
  margin-bottom: 0px;
  position: inherit ;
  height: 80px;
}

.toolbar-right {
  margin-left: 1150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
}

.img-logo {
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.lbl-user {
  font-size: 14px;
  color: white;
  margin: 0px 5px 0px 0px;
  font-family: "Times New Roman";
  font-weight: bold;
}

.img-user {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.btn-logout {
  color: white;
  border-radius: 0px;
  margin: 0px 0px 0px -5px;
}


/* Side Navigation */

mat-toolbar a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  justify-content: flex-start;
  font-family: "Times New Roman";
  font-weight: bold;
}

mat-toolbar mat-icon {
  font-size: 20px;
  margin: 0px 3px -7px 0px;
}

mat-expansion-panel .mat-expansion-panel-header{
  background-color: darkblue;
  margin: 0;
  padding: 0 16px;
}

mat-expansion-panel .mat-expansion-panel-header:hover{
  background-color: cadetblue;
  margin: 0;
  padding: 0 16px;
}

mat-expansion-panel .item{
  background-color: darkblue;
  width: 200px;
  padding: 0 16px;
}

mat-expansion-panel .item:hover{
  background-color: cadetblue;
  margin: 0;
  padding: 0 16px;
}

mat-toolbar mat-expansion-panel-header:hover {
  background: none !important;
}

mat-sidenav {
  width: 200px;
  margin: 0;
  background-color: darkblue;
  color: white;
}

mat-sidenav-content {
  margin-top: 30px; /* Adjust based on the height of your toolbar */
  width: auto;
  background-color: white;
}

.btn-nav.mat-mdc-icon-button {
  background-color: darkblue;
  color: #ffffff;
  vertical-align: middle;
  box-shadow: 1px 1px 6px #333333;
  border: #c0d9c3 solid 2px;
  padding: 5px;
  --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.2);
}

.lbl-menu {
  font-size: 19px;
  margin: 0px 0px 0px 10px;
  font-family: "Times New Roman";
  font-weight: lighter;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

mat-sidenav-content{
  width: 100%;
  height: 100%;
}

mat-sidenav a {
  font-size: 14px;
  text-decoration: none;
  color: transparent;
  border-right: none;
}


mat-nav-list mat-list-item:hover {
  background: cadetblue;
}


mat-sidenav mat-nav-list mat-list-item a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman";
}

mat-sidenav mat-icon {
  font-size: 17px;
  margin: 0px 0px -10px 0px;
}

