<mat-toolbar>
  <mat-toolbar-row>
    <span class="toolbar-left">
    <button mat-icon-button (click)="opened=!opened" class="btn-nav"><mat-icon>menu</mat-icon></button>
      <a routerLink="home" id="home"><mat-icon>home</mat-icon>The Bear Gallery</a>
    </span>

    <span class="toolbar-right">
      <label class="lbl-user">{{authService.getUsername().toUpperCase()}}</label>
      <img src="assets/99945.png" class="img-user"/>
      <button mat-icon-button matTooltip="Logout" (click)="logout()" class="btn-logout"><mat-icon>power_settings_new</mat-icon> </button>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav [(opened)]="opened" mode="side">

    <mat-nav-list>

      <mat-list-item>
        <a routerLink="dashboard"><mat-icon>widgets</mat-icon>Dashboard</a>
      </mat-list-item>

      <mat-expansion-panel *ngIf="isMenuVisible('Admin')">
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>person</mat-icon>
            Admin</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of admMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="isMenuVisible('Inventory')">
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>category</mat-icon>
            Inventory</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of invMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="isMenuVisible('Purchases')">
        <mat-expansion-panel-header>
          <mat-list-item><a>
            <mat-icon>toys</mat-icon>
            Purchases</a></mat-list-item>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let menuItem of purMenuItems">
          <mat-list-item *ngIf="menuItem.accessFlag">
            <mat-list-item class="item" [routerLink]="menuItem.accessFlag ? menuItem.routerLink : null"><a>{{ menuItem.name }}</a></mat-list-item>
          </mat-list-item>
        </ng-container>
      </mat-expansion-panel>

      <mat-list-item>
        <a routerLink="report"><mat-icon>poll</mat-icon>Report</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>







