/* Tool Bar */
.background{
  background: linear-gradient(40deg, darkblue, cadetblue) ;
  position: relative;
}

#home{
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

mat-toolbar-row #toolbar-left {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  float: left;
}

mat-toolbar{
  background: none;
  margin-left: 0;
  margin-bottom: 15px;
}

mat-toolbar-row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  float: left;

}

.toolbar-right {
  display: flex;
  justify-content: left;
  align-items: center;
  float: left;
}


.img-logo {
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.lbl-user {
  font-size: 14px;
  color: white;
  margin: 0px 5px 0px 0px;
  font-family: "Times New Roman";
  font-weight: bold;
}

.img-user {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.btn-logout {
  color: white;
  border-radius: 0px;
  margin: 0px 0px 0px -5px;
}


/* Side Navigation */
/*
mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 15%;
}
*/
mat-toolbar a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  justify-content: flex-start;
  justify-items: left;
  font-family: "Times New Roman";
  font-weight: bold;
}

mat-toolbar mat-icon {
  font-size: 20px;
  margin: 0px 3px -7px 0px;
}

mat-toolbar mat-list-item {
  height: 35px;
  font-size: 13px;
  padding: 0px 5px 0px 10px;
  border-bottom: none;
  justify-items: left;
}

mat-toolbar mat-list-item:hover {
  background: none ;
  border-radius: 10px;
}

mat-toolbar mat-expansion-panel {
  box-shadow: none;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

mat-toolbar mat-expansion-panel-header {
  height: 35px;
  padding: 0 5px 0 0;
}

mat-toolbar mat-expansion-panel-header:hover {
  background: none !important;
}

mat-toolbar mat-expansion-panel mat-list-item {
  height: 35px;
}

mat-toolbar mat-expansion-panel mat-list-item:hover{
  background: transparent;
}





